#createDeckForm {
    display: grid;
    grid-gap: 10px;
    position: relative;
    top: 50px;
    width: 82%;
    margin: auto;
    grid-template-rows: 70px 70px 30px;
    height: 320px;
}

#createDeckForm input {
    background-color: darkgray;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #0f0f10;
}

#createDeckForm button {
    border: 1px solid black;
    border-radius: 5px;
}

#categoryDropDown {
    border: 1px solid black;
    border-radius: 10px;
    text-align-last: center;
    font-size: 30px;
}

#timeCompleteForm {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 50px;
    grid-gap: 20px;
}

#timeNum {
    grid-column: 5/8;
    border-radius: 12px;
    font-size: 20px;
}

#lengthDropDown {
    grid-column: 8/9;
    font-size: 16px;
    padding: 8px 0px 10px 22px;
    border: 1px solid black;
}

input[name=challenge]{
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

#challengeSubmit {
    border: 1px solid black;
    border-radius: 10px;
}